.Cont-2{
    display: flex;
    width: 90%;
    padding: 10%;
    margin: auto;
    justify-content: space-between;
}

.Img{
    width: 500px;
}
.Img2{
    width: 110%;
    padding-left: -10px ;
}
.Cont{
    width: 80%;
    margin: auto;
}
.Cont2-1{
    padding: 20px;
    line-height: 45px;
    /* text-align: center; */
    font-size: 27px;
    margin: auto;
   
}
.Cont2-2{
    padding: 20px;
    line-height: 45px;
    /* text-align: center; */
    font-size: 27px;
    margin: auto;
    width: 50%;
   
}
.Cont2-1>h5{
    color: blue;
}
.Btn1{
    background-color: blue;
    padding: 18px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    color: white;
}
.Btn2{
    border: 1px solid blue;
    padding: 18px;
    font-size: 20px;
    border-radius: 6px;
    color: blue;
    
}
.Btn>div{
   
    padding: 30px;
}
.Btn{
    display: flex;
}
.Img3{
    width: 150px;
    border-radius: 50%;
    margin-top: -50%;
}
.Cont2-3{
    text-align: center;
    margin:5%  1% auto;
    /* padding: 40px; */
    border-radius: 10px;
    line-height: 30px;
    border: 1px solid red;
    font-size: 19px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Cont-3{
    width: 1400px;
    padding: 40px;
    display: flex;
    margin:1% auto;
    overflow-x: scroll;
    /* justify-content: space-around; */
}
.Cont-cl{
    color: gray;
    font-style:italic;
}
